body{
    background-image: linear-gradient(to bottom, rgb(15, 223, 238), rgb(1, 82, 119));
}

#eye2{
    display: none;
}

#conteudo{
    padding: 2%;
    background-color: hsl(270, 2%, 82%);
    width: 50%;
    margin-left: 10%;
    border-radius: 1.5em;
    margin: auto;
    margin-top: 5em;
    box-shadow: 10px 10px 15px rgba(83, 83, 85, 0.719);
    font-size: 1em;
}

h1, h2{
    text-align: center;
}
#botao{
    background-color: rgb(230, 83, 184);
    border-color: blueviolet;
}
#esconde_cartao{
    display: none;
}




